body{
    font-family: 'Bree Serif', serif;
    background-image: url("{{url_for('static', './andrew-neel-178721-unsplash.jpg'}}");
    
}

.panel-heading h4{
    text-align: center;
    font-weight: bold;
}