{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Xander's Chronicles </title>
    {% endif %}
</head>

<!-- Content block -->
{% block content %}
<body>
    <div class="jumbotron">
        <h2 style="text-align: center">Xander's Chronicles</h2>
        <p style="text-align: center">"A life void of one's expressions is a life filled with depression"</p>
        <h5 style="text-align: center">Welcome to my heart's & mind's journey</h5>
    </div>
    <div class="container panel panel-default">
        {% for post in posts %}
        <div class="panel-heading">
            <h4>
                <a href='{{url_for ("main.blog", id = post.id)}}'>{{post.blog_name}}</a>
            </h4>
        </div>
        <div class="panel-body">
            <p>{{post.blog_info | truncate(500)}}</p>
        </div>
         {% endfor %}
    </div>
    

    <!-- Styles block -->
    {% block styles%} 
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> 
    {% endblock %} 
    {% endblock%}

</body>

</html>
