{% extends 'base.html'%} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block content %}
<div class="container">
     
    <h3>{{blog.blog_name}}</h3>
    <p>{{blog.blog_info}}</p>
    <h4>Posted at: {{blog.date_posted}}<h4> 
   
</div>
<div class="container">
    {{ wtf.quick_form(commentform) }} 
    <!-- {{simplemde.load}} -->
</div>
<hr>
{% if comments %}
 {% for comment in comments %}
 <ol><li>{{comment.comment}}</li></ol>
 
 {% endfor %}
{% else %}
<hr>
<p>This post has no comments yet</p>
{% endif %}

{%endblock%}
